@font-face {
    font-family: Circular;
    src: url('./fonts/circular/circular-medium.otf');
}
:not(.icon) {
    font-family: Circular !important;
    font-weight: normal !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #34495e !important;
}
.toolbar-background{
    background-color: #26418f !important;
    color : white !important;
}
.toolbar-border-color{

}
.toolbar-text-color{
    color : white !important;
}
.toolbar-active-color{

}